.content-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 10vh;
  height: 90vh;
  border: 1px solid red;
}

.content-head {
  display: flex;
  border: 1px solid red;
  width: 70vw;
}

.content-new-todo {
  border: 1px solid red;
  width: 70vw;
}

.content-body {
  border: 1px solid red;
  width: 70vw;
}

.content-todolist {
  border: 1px solid red;
}

.content-options {
  display: flex;
  justify-content: space-between;
}

footer {
  border: 1px solid red;
}